@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: #071A12;
    color: white;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #10b981;
    border-radius: 20px;
}
